<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1 class="center">Fraud Detector App</h1>
  <h3 class="center">Check Transactions</h3>

  <div class="col-md-12">
    <form class="form-inline" [formGroup]="appForm" (ngSubmit)="searchBy()">
      <div class="form-group">
        <label for="transaction-id">Transaction Id*: </label>
        <input type="text" class="form-control" placeholder="e.g. 9c868b2..." id="transaction-id"
          formControlName="transactionId"  required><br/>
          <span *ngIf="errorMsg"  class="error">transaction id is required</span>
      </div>
      <div class="form-group">
        <label for="confidence-level">Confidence Level: </label>
        <input type="text" class="form-control" id="confidence-level" placeholder="e.g. 1"
          formControlName="confidenceLevel" placeholder="e.g. 0.7">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" style="margin-right: 30px">Search</button>
        <button (click)="reset($event)" class="btn btn-info">Reset</button>
      </div>
    </form>
  </div>

  <section class="content">
    <div class="table-container">
      <table class="table table-filter">
        <thead>
          <th *ngFor="let col of columns">{{col.name}}</th>
        </thead>
        <tbody>
          <tr *ngFor="let row of rowData; let i=index;">
            <td>
              <p class="summary">{{i + 1}}</p>
            </td>
            <td>
              <p class="summary">{{row.name}}</p>
            </td>
            <td>
              <p class="summary">{{row.email}}</p>
            </td>
            <td>
              <p class="summary">{{row.phone}}</p>
            </td>
            <td>
              <p class="summary">{{row.age}}</p>
            </td>
            <td>
              <p class="summary">{{row.id}}</p>
            </td>
            <td class="center">
              <p *ngIf="row.connectionInfo" class="summary">
                <span *ngIf="row.connectionInfo.type === 'sameEmail'"><fa name="envelope" size="lg"></fa></span>
                <span *ngIf="row.connectionInfo.type === 'sameDevice'"><fa name="mobile" size="2x"></fa></span>
                <span *ngIf="row.connectionInfo.type === 'sameDeviceToken'"><fa name="key" size="lg"></fa></span>
                <span *ngIf="row.connectionInfo.type === 'samePhoneNumber'"><fa name="phone" size="lg"></fa></span>
                <span *ngIf="row.connectionInfo.type === 'sameName'"><fa name="id-badge" size="lg"></fa></span>
                <span *ngIf="row.connectionInfo.type === 'sameGeoInfo'"><fa name="map-marker" size="lg"></fa></span>
              </p>
            </td>
            <td class="center">
              <div *ngIf="row.connectionInfo">
                <span [ngClass]="{'secure': row.connectionInfo.confidence > 0.8,
                  'partially-secure': 0.8 >= row.connectionInfo.confidence > 0.5,
                  'not-secure': row.connectionInfo.confidence <= 0.5 }">
                  <fa name="lock" size="lg"></fa>{{row.connectionInfo.confidence * 100}}%
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

</div>
