.container {
  padding-top: 50px;
}

.center {
  text-align: center;
}

.secure {
  color: green;
}

.partially-secure {
  color: goldenrod;
}

.not-secure {
  color: red;
}

.summary {
  color: #999;
}

/*	--------------------------------------------------
	:: Form
	-------------------------------------------------- */

p {
  margin: 0;
}

label {
  margin-right: 10px;
}

.form-inline {
  margin-top: 30px;
  text-align: center;
}

.form-group {
  margin-right: 30px;
  margin-bottom: 30px;
}

.form-group input {
  width: 300px;
}

.error {
  color: #a94442;
}

/*	--------------------------------------------------
	:: Table
	-------------------------------------------------- */

.content {
  margin: 50px 0;
}

thead {
  background-color: #f5f7f7;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 600;
  font-size: 12px;
}

th {
  line-height: 32px;
  padding-left: 12px;
  padding-right: 12px;
  border-width: 0;
  border-right: 1px solid #ccc;
}

.table-filter {
  border: 1px solid #ccc;
}

.table-filter tbody tr:hover {
  background-color: #eee;
}

.table-filter tr td:first-child {
  width: 38px;
}
